<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@((currentLanguage == "es") ? "Notas" : "Notes")</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi-house me-2" aria-hidden="true"></span>  @((currentLanguage == "es") ? "Inicio" : "Home")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notes">
                <span class="bi-plus-circle me-2" aria-hidden="true"></span> @((currentLanguage == "es") ? "Notas" : "Notes")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="bi-bookmark-plus me-2" aria-hidden="true"></span> @((currentLanguage == "es") ? "Categorías" : "Categories")
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [CascadingParameter(Name = "currentLanguage")]
    public string currentLanguage { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }    

}
